.git
.git/**

codebase/.env
codebase/node_modules
codebase/node_modules/**
codebase/vendor
codebase/vendor/**
codebase/storage/database/*.sqlite
codebase/bootstrap/cache/*.php
codebase/storage/framework/cache/**
codebase/storage/framework/sessions/**
codebase/storage/framework/testing/**
codebase/storage/framework/views/**
codebase/storage/logs/*.log

.docker/local/.env
.docker/staging/.env
.docker/production/.env
