COMPOSE_PROJECT_NAME=monsterindex
APP_EXPOSED_PORT=8080

MYSQL_DATABASE=monsterindex
MYSQL_USER=monsterindex
MYSQL_PASSWORD=monsterindex
MYSQL_ROOT_PASSWORD=root
MYSQL_EXPOSED_PORT=3307

REDIS_EXPOSED_PORT=6380
VITE_EXPOSED_PORT=5173
